html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
.active {
    display: block;
}
.bo-dark {
    background-color: #3d3d3d;
}
.bo-nav-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}
.bo-nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #eb6767;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.bo-nav-link:hover:after {
    width: 100%;
    left: 0;
}

.bo-footer {
    background-color: #2b2a2a;
}
.bo-mt-30vh {
    margin-top: 30vh;
}
.bo-ml-30vw {
    margin-left: 20vw;
}
.bo-red-color {
    color: #eb6767;
}

.bo-bg-lightred {
    background-color: #f58c8c;
}

.bo-bg-lightred:hover {
    background-color: #fd9c9c;
}

.bo-bg-red {
    background-color: #eb6767;
}
.bo-bg-red:hover {
    background-color: #ff8d8d;
}

/* #project{
    background-image: url("../src/images/bg.jpg");
} */

.h-60-screen {
    height: 60vh;
}

.bo-h-300px {
    height: 300px !important;
}

.bo-top-50 {
    top: 13px;
}
.bo-pt-nav {
    padding-top: 100px;
}

.bo-h-14 {
    height: 3.5rem;
}

.bo-w-14 {
    width: 3.5rem;
}

.bo-cb-is-active {
    background-color: #eb6767;
}

footer {
    background-color: #eb6767;
}

#iframe {
    min-height: 300px;
    max-height: 750px;
}

// #home {
//     background-image: url("../images/bb.jpg");
//     background-position: center;
//     background-size: cover;
// }

#project {
    background-image: url("../images/zagreb.jpg");
    background-position: center;
    background-size: cover;
}

.plus-minus {
    position: relative;
    width: 24px;
    height: 24px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background-color: black;
        border-radius: 2px;
        transition: transform 0.35s ease-out;
    }
    /* Vertical line */
    &:before {
        top: 0;
        left: 50%;
        width: 4px;
        height: 100%;
        margin-left: -2px;
    }
    /* horizontal line */
    &:after {
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        margin-top: -2px;
    }
    &:hover {
        cursor: pointer;
    }
}

.plus-minus.clicked {
    &:before {
        transform: rotate(90deg);
    }
    &:after {
        transform: rotate(180deg);
    }
}

.Collapsible__trigger {
    &.is-open {
        .plus-minus:before {
            transform: rotate(90deg);
        }
        .plus-minus:after {
            transform: rotate(180deg);
        }
    }
}
